div.component_QR {

    display: none;

    &.show {
        display: inline-block;
    }
}

div.component_QR_card {
    position: center;
    border-radius: 5px;
    background: $background-light;
    padding: 15px 5px 5px 5px;

    box-shadow: 1px 3px 10px $support-color-dark;
    min-height: 210px;
    width: 210px;
}
div.component_QR_card_label {
    text-align: center;
    font-weight: bold;
    font-size: large;
}
div.component_QR_card_sublabel {
    text-align: center;
    font-size: smaller;
}
