
html, body {
    width: 100%;
    height: 100%;
    box-sizing : border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;


}




// --- interface layout ---

div.main-interface {
    position: relative;
}

div.main-interface-container {
    position: relative;
    padding: 20px 10px 20px 10px;
}

div.main-interface-header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-background-header;

    .app & {
        bottom: 150px;
    }
}

div.main-interface-header-content {
    position: relative;
}


// --- header ---

div.interface-header {
    margin-left: auto;
    margin-right: auto;
    //max-width: 600px;
    text-align: center;
    margin-bottom: 25px;
}

div.logo {
    margin-left: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;

    & span.logo-copypaste {
        color: #ffffff;
    }

    & span.logo-me {
        color: #406c91;
    }
}

a.logo {
    text-decoration: none;
}

h1.tagline {
    margin-top: 35px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;

    color: $color-text-lessdark;
}

h2.description {
    margin-top: 18px;
    margin-bottom: 38px;

    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.2;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

@media screen and (max-width: 500px) {

    div.logo {
        text-align: center;
    }

    h1.tagline {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2.description {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 30px;
    }
}



// --- footer ---


div.main-interface-footer {
    clear: both;
}

div.main-interface-footer-collapsed {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    color: $textcolor-light;
    background-color: $background-footer;

    padding: 10px 0 10px 0;
    flex-shrink: 0;
    font-size: smaller;
    opacity: 0;

    &.animate {
        transition: opacity 0.15s ease-in-out;
    }

    &.show {
        opacity: 1;

    }
}

div.main-interface-footer-collapsed a {
    color: gold;
    text-decoration: none;
}

div.main-interface-footer-collapsed a:hover {
    text-decoration: underline;
}

div.main-interface-footer-collapsed-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

div.main-interface-footer-collapsed-content {
    display: inline-block;
    position: relative;
}

div.main-interface-footer-expanded {

    color: $textcolor-light;
    background-color: $background-footer;

    padding: 30px 30px 40px 30px;
    flex-shrink: 0;
    font-size: smaller;

    & a {
        color: $textcolor-light;
        text-decoration: none;
    }

    & a:hover {
        color: gold;
    }
}

div.footer-logo-copypaste {

    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: bold;

    & span.footer-logo-me {
        color: gold;
    }
}

div.footer_table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.footer_table_column {
    flex: auto;
    min-width: 300px;

    &.left {
        text-align: left;
        margin-bottom: 10px;
    }

    &.center {
        text-align: center;
        margin-bottom: 20px;
    }

    &.right {
        text-align: left;
    }
}

div.footer_table_center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    div.footer-logo-copypaste {
        margin-bottom: 10px;
    }

    div.footer-logo-credits {
        margin-bottom: 20px;
    }

div.footer_table_center_column {
    flex: auto;
    min-width: 200px;
    text-align: left;
    margin-top: 7px;
}

div.footer_table_center_column_cell {
    margin-bottom: 20px;
}

div.footer_socialicons_title {
    margin-bottom: 20px;
}

div.footer_socialicons {
    margin-left: -13px;
}

div.footer_socialicon {

    display: inline-block;
    width: 39px;
    height: 39px;

    background-image: url('/static/images/socialicons.png');
    background-repeat: no-repeat;


    &.facebook {
        background-position: 0 0;
    }

    &.instagram {
        background-position: -39px 0;
    }

    &.linkedin {
        background-position: -78px 0;
    }

    &.email {
        background-position: -117px 0;
    }

    &.patreon {
        background-position: -156px 0;
    }
}