
html, body {
    width: 100%;
    height: 100%;
    box-sizing : border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    //font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $support-color-light;
    text-align: center;
}


div.main-interface {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
}
div.main-interface-content {
    flex-grow: 1;
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
}

div.main-interface-footer {
    color: $textcolor-light;
    padding: 10px 0 10px 0;
    flex-shrink: 0;
    font-size: smaller;
    background-color: $background-footer;
    box-shadow: inset 0 6px 6px -6px #24323F;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.main-interface-footer a {
    text-decoration: none;
    color: $textcolor-light;
}

div.main-interface-footer a:hover {
    text-decoration: underline;
    //color: $support-color-dark;
}

div.info-title {
    padding: 20px 0 0 0;

    & > img {
        width: 100%;
        max-width: 200px;
    }
}

div.info-subtitle {
    color: $support-color-dark;
    font-size: medium;
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}
