// colors
$support-color-light: #96C0CE;
$support-color-dark: #525564;
$textcolor-light: #ffffff;
$textcolor-dark: #525564;
$textcolor-alert: #C25B56;
$background-alert: #C25B56;
$background-light: #ffffff;
$background-lightgray: #EEE6DB;
$background-lightergray: #FEF6EB;
$background-lightestgray: #F1F1F1;
$background-dark: #74828F;
$background-button-dark: #C25B56;
$background-alert: #C25B56;
$background-footer: #74828F;
$background-warning: gold;



$color-background-header: #63a9e1;
$color-background-content: #ffffff;
$color-background-features: #f5f5f5;
$color-text-dark: #000000;
$color-text-lessdark: #333333;
$background-footer: #2c2c2c;
$support-color-dark: #333333;

$color-button-dark: #436c90;



// presets
div {
    box-sizing : border-box;
}

// imports
@import 'modules/Buttons/Button';
@import 'modules/Buttons/ButtonSupport';
@import 'modules/Information/Information';
@import 'modules/Interface/Interface';
@import 'modules/ToggleButton/ToggleButton';
@import 'components/Client';


/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('/static/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/static/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/static/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('/static/fonts/montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('/static/fonts/montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/static/fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/static/fonts/montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('/static/fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/static/fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/static/fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('/static/fonts/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('/static/fonts/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/static/fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
    url('/static/fonts/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/static/fonts/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
