// colors
$support-color-light: #96C0CE;
$support-color-dark: #525564;
$textcolor-light: #ffffff;
$textcolor-dark: #525564;
$background-light: #ffffff;
$background-lightgray: #EEE6DB;
$background-lightergray: #FEF6EB;
$background-dark: #C25B56;
$background-alert: #C25B56;
$background-footer: #74828F;

// presets
div {
    box-sizing : border-box;
}

// imports
@import 'components/Interface/Interface';
@import 'components/Button/Button';
@import 'modules/Client';
