
div.alertmessage {
    margin: 25px 10px 25px 10px;
    padding: 12px 16px 12px 16px;
    background-color: gold;
    color: $textcolor-dark;
    display:none;
    border-radius: 5px;
}

div.alertmessage a {
    color: $textcolor-dark;
    text-decoration: underline;
}

div.alertmessage a:hover {
    text-decoration: none;
}
