div.component_ClearClipboard {

    display: none;

    &.show {
        display: block;
    }

    background-color: $background-warning;
    border-radius: 5px;
    color: $textcolor-dark;
    padding: 15px 15px 15px 15px;
}

div.component_ClearClipboard_content {

    display: flex;

    & .component_ClearClipboard_content_message {
        flex: auto;
        text-align: left;
        margin-right: 15px;
    }

    & .component_ClearClipboard_content_input {
        flex: content;
        text-align: right;
    }
}



@media only screen and (max-width: 400px) {

    div.component_ClearClipboard_content {

        display: block;

        & .component_ClearClipboard_content_message {
            text-align: center;
        }

        & .component_ClearClipboard_content_input {
            margin-top: 15px;
            text-align: center;
        }
    }
}



