div.component_ManualConnectInput {

    display: none;

    &.show {
        display: inline-block;
    }

    background-color: $background-light;
    border-radius: 5px;
    padding: 15px 10px 10px 10px;
    box-shadow: 1px 3px 10px $support-color-dark;
}


div.component_ManualConnectInput_label {
    text-align: center;
    font-weight: bold;
    font-size: large;
}
div.component_ManualConnectInput_sublabel {
    text-align: center;
    font-size: smaller;
}

div.component_ManualConnectInput_input {
    border-radius: 3px;
    background-color: $background-lightestgray;
    border: $background-lightgray 1px solid;

    margin-top: 10px;
    padding: 15px;

    div.component_ManualConnectInput_code {
        margin-bottom: 20px;
    }

    input.component_ManualConnectInput_character {
        font-size: 30px;
        padding: 7px 9px 7px 9px;
        background-color: $background-light;
        border: 1px solid $background-lightgray;
        border-radius: 3px;
        outline: none;
        width: 27px;
        text-align: center;
    }

    @media only screen and (max-width: 380px) {
        input.component_ManualConnectInput_character {
            font-size: 24px;
            padding: 4px 6px 4px 6px;
            width: 16px;
        }
    }
}
