div.component_DataInput {

    display: none;

    &.show {
        display: block;
    }

    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

div.sender_input {
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
}

div.sender_menu {
    width: 100%;
    padding: 0 10px 0 10px;
    display: table;
}

div.sender_menu > div {
    margin-right: 5px;

}

div.sender_menu_tab {
    background-color: $background-lightgray;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 8px 12px 8px 12px;
    font-size: smaller;
    color: #999999;
    box-shadow: inset 0 -6px 6px -6px #858585;
    user-select: none;
}

.unlocked div.sender_menu_tab {
    cursor: pointer;
}

.unlocked div.sender_menu_tab:hover {
    color: $textcolor-light;
    background-color: $support-color-dark;
}

.unlocked div.sender_menu_tab.selected {
    background-color: $background-lightergray;
    cursor: default;
    box-shadow: none;
    color: $support-color-dark;
}

.unlocked div.sender_menu_tab.selected:hover {
    color: $support-color-dark;
}

div.sender_data {
    background-color: $background-light;
    border-radius: 5px;
    display:flex;
}

div.sender_data_label {
    color: $support-color-dark;
    text-align: left;
    padding: 8px 0 8px 8px;
    background-color: $background-lightergray;
    border-radius: 5px;
    display: flex;
    width: 100%;
}
div.sender_data_label_data {
    background-color: $background-light;
    border-radius: 3px;
    border: $background-lightgray 1px solid;
    flex: auto;
    position: relative;
}

div.sender_data_label_data_cover {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    border-radius: 3px;
    visibility: hidden;
}

.showProgress div.sender_data_label_data_cover {
    visibility: visible;
}

.hideProgress div.sender_data_label_data_cover {
    visibility: visible;
}

div.sender_data_label_cover_internal {
    position: relative;
    background-color: $support-color-dark;
    text-align: left;

    overflow: hidden;

    width: 0;
    height: 100%;

    white-space: nowrap;

    transition-timing-function: ease-in-out;
}

div.sender_data_label_cover_label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: $textcolor-light;

    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
}

.showProgress div.sender_data_label_cover_internal {
    animation: showProgress-cover-internal 0.6s;
    width: 100%;
}

    @keyframes showProgress-cover-internal {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

.showProgress div.sender_data_label_data_input {
    animation: showProgress-cover-input 0.6s;
    margin-left: 0;
}

    @keyframes showProgress-cover-input {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

.showProgress div.sender_data_label_cover_label {
    animation: showProgress-cover-label 0.6s;
    clip-path: inset(0 100% 0 0);
}

    @keyframes showProgress-cover-label {
        0% {
            clip-path: inset(0 100% 0 0);
        }
        100% {
            clip-path: inset(0 0 0 0);
        }
    }


.hideProgress div.sender_data_label_cover_internal {
    animation: hideProgress-cover-internal 0.9s;
    width: 100%;
    margin-left: 100%;
}

    @keyframes hideProgress-cover-internal {
        0% {
            width: 100%;
            margin-left: 0;
        }
        33% {
            width: 100%;
            margin-left: 0;
        }
        100% {
            width: 0;
            margin-left: 100%;
        }
    }


.hideProgress div.sender_data_label_data_input {
    animation: hideProgress-cover-input 0.9s;
}

    @keyframes hideProgress-cover-input {
        0% {
            opacity: 0;
        }
        33% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

.hideProgress div.sender_data_label_cover_label {
    animation: hideProgress-cover-label 0.9s;
    clip-path: inset(0 100% 0 0);
}

    @keyframes hideProgress-cover-label {
        0% {
            clip-path: inset(0 0 0 0);
        }
        33% {
            clip-path: inset(0 0 0 0);
        }
        100% {
            clip-path: inset(0 0 0 100%);
        }
    }


div.sender_data_menu {
    position: relative;
    display: block;
    flex: auto;
    padding: 9px 9px 9px 9px;
    text-align: right;
    background-color: $background-lightergray;
    border-radius: 5px;
}



input.data_input {
    padding: 12px 20px 12px 15px;
    border: 0;
    width: 100%;
    font-size: larger;
    outline: none;
    box-sizing : border-box;
    display: none;
}

input.data_input::placeholder {
    font-style: italic;
    color: #858585;
}

textarea.data_input {
    padding: 12px 20px 12px 15px;
    border: 0;
    width: 100%;
    font-size: larger;
    outline: none;
    resize: none;
    box-sizing : border-box;
    height: 200px;
    display: none;
}

textarea.data_input::placeholder {
    font-style: italic;
    color: #858585;
}

div.data_input {
    padding: 12px 15px 12px 15px;
    width: 100%;
    font-size: larger;
    display: none;
}

input.data_input.selected, textarea.data_input.selected, div.data_input.selected {
    display: block;
}

div.data_input_image
{
    display: flex;
}

div.data_input_image_menu {
    flex: content;
    margin-right: 12px;
}


div.data_input_image_preview {
    display: block;
    width: 100%;
    height: 125px;
    visibility: hidden;
}

div.data_input_image_preview-visible {
    visibility: visible;
}

div.data_input_image_preview_imagecontainer {
    flex: auto;
    width: 100%;
    background-color: $background-lightergray;
    border: 1px solid $background-lightgray;
    border-radius: 3px;
}

img.data_input_image_preview_image {
    display: block;
    max-width: 100%;
    max-height: 100px;
}

div.data_input_image_preview_label {
    font-size: small;
    background-color: $background-light;
    padding: 7px 0 0 1px;
    font-style: italic;
    overflow: hidden;
    word-break: break-word;
}

img.sender_data_label_cover_label_indicator {
    width: 20px;
    display: none;

    .showProgress & {
        display: inline-block;
    }
}

div.data_input_document
{

}

div.data_input_document_menu {

}

div.data_input_document_preview {
    display: none;
}

div.data_input_document_preview-visible {
    display: block;
}

div.data_input_document_preview_label {
    font-size: small;
    background-color: $background-light;
    padding: 7px 0 0 1px;
    font-style: italic;
    overflow: hidden;
    word-break: break-word;
}

div.component_DataInput_progress {
    margin-top: 5px;
    font-size: x-small;
    color: $textcolor-dark;
    text-align: center;
}