div.module_FAQ_header {
    display: inline-block;
    width: 100%;
    max-width: 900px;
    padding: 40px 30px 0 30px;
    margin-left: auto;
    margin-right: auto;
}

h1.faq_title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 35px;
    clear: both;

    font-family: Montserrat, sans-serif;
    color: $color-text-dark;
}

img.faq_mockup {
    width: 100%;
}