@use '../../tokens' as *;

div.component_Waiting {

    display: none;

    &.show {
        display: block;
    }

    // when waiting for new data while the donate call-to-action is shown (no
    // data presented), add space below the spinner to match the space above
    // the "Share from here" button
    &.show:has(~ div.component_DataOutput div.component_DataOutput_donate.show) {
        margin-bottom: 34px;
    }

    & div.component_Waiting_label {
        color: $support-color-dark;
        line-height: 24px;
        padding: 20px;
    }

    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    font-size: medium;
}

//div.waiting {
//    margin-left: auto;
//    margin-right: auto;
//    max-width: 600px;
//    text-align: center;
//    display: none;
//    font-size: medium;
//}
