// imports
@import 'Connector/Connector';
@import 'Waiting/Waiting';
@import 'DataInput/DataInput';
@import 'DataOutput/DataOutput';
@import 'ToggleDirectionButton/ToggleDirectionButton';
@import 'ManualConnectButton/ManualConnectButton';
@import 'ManualConnectHandshake/ManualConnectHandshake';
@import 'ManualConnectInput/ManualConnectInput';
@import 'AlertMessage/AlertMessage';
@import 'SecurityWarning/SecurityWarning';
@import 'Templates/Templates';
@import 'FAQ/FAQ';


div.component_Client {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: 0 10px 15px 10px;

    &.disabled {
        display: none;
    }
}
