@use 'Connector/Connector';
@use 'Waiting/Waiting';
@use 'DataInput/DataInput';
@use 'DataOutput/DataOutput';
@use 'ToggleDirectionButton/ToggleDirectionButton';
@use 'MenuConnectionType/MenuConnectionType';
@use 'ManualConnectHandshake/ManualConnectHandshake';
@use 'ManualConnectInput/ManualConnectInput';
@use 'AlertMessage/AlertMessage';
@use 'SecurityWarning/SecurityWarning';
@use 'Templates/Templates';
@use 'FAQ/FAQ';


div.component_Client {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: 0 10px 15px 10px;

    &.disabled {
        display: none;
    }
}
