div.module_ToggleButton {
    display: inline-block;
    margin-top: 34px;
    background-color: #436c90;
    color: $textcolor-light;
    border-radius: 9px;
    padding: 6px 14px 8px 14px;
    font-size: 13px;
    letter-spacing: -0.55px;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: $support-color-dark;
    }
}
