div.module_ToggleButton {
    display: inline-block;
    margin-top: 34px;
    background-color: $color-button-dark;
    color: $textcolor-light;
    border-radius: 9px;
    padding: 6px 14px 8px 14px;
    font-size: 13px;
    letter-spacing: -0.55px;
    cursor: pointer;
    user-select: none;

    transition: opacity 1s;
    opacity: 1;

    &:hover {
        background-color: $support-color-dark;
    }

    &.disabled {
        cursor: default;
        opacity: 0.4;
    }

    &.disabled:hover {
        background-color: $color-button-dark;
    }
}
