div.component_ManualConnect {

    display: none;

    &.show {
        display: block;
    }
}

span.module_ToggleButton_manually {
    display: inline-block;

    .flip & {
        display: none;
    }
}

span.module_ToggleButton_qr {
    display: none;

    .flip & {
        display: inline-block;
    }
}
