div.receiver_data_content {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
}

div.receiver_data_menu {
    position: relative;
    display: block;
    flex: auto;
    padding: 9px 9px 9px 9px;
    text-align: right;
    background-color: $background-lightergray;
    border-radius: 5px;
}

div.receiver_data_label {
    color: $support-color-dark;
    text-align: left;
    padding: 8px 0 8px 8px;
    background-color: $background-lightergray;
    border-radius: 5px;
    width: 100%;

    flex: auto;
    position: relative;
}

div.receiver_data_label_data {
    position: relative;
    background-color: $background-light;
    border-radius: 3px;
    border: $background-lightgray 1px solid;
    padding: 12px 20px 12px 15px;
    width: 100%;
    font-size: larger;
    height: auto;
    max-height: 200px;
    overflow: scroll;
    word-break: break-word;
}

div.component_SharedData_data_label {

    visibility: hidden;

    &.show {
        visibility: visible;
    }
}

div.receiver_data_options {
    padding: 0 20px 9px 15px;
    border-radius: 5px;
    font-size: smaller;
    background-color: $background-lightergray;
    color: #999999;
    font-style: italic;
    text-align: left;
    user-select: none;
}

div.component_SharedData_optionsmenu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.show {
        display: block;
        opacity: 1;
    }
}


a.receiver_data_option {
    color: #999999;
    text-decoration: none;
    cursor: pointer;
}

a.receiver_data_option:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $support-color-dark;
}

div.component_SharedData_donate {

    display: none;

    &.show {
        display: block;
    }
}

a.component_SharedData_donate {
    color: #999999;
}

a.component_SharedData_donate:hover {
    color: #000000;
}

span.module_SharedData_donate_heart {
    color:#C25B56;
}

span.component_SharedData_expires {
    font-family: monospace;
    font-size: 13px;
}
