div.component_AlertMessage {

    display:none;

    margin: 0 10px 45px 10px;
    padding: 12px 16px 12px 16px;
    background-color: gold;
    color: $textcolor-dark;

    border-radius: 5px;

    &.show {
        display: inline-block;
    }

    & a {
        color: $textcolor-dark;
        text-decoration: underline;
    }

    & a:hover {
        text-decoration: none;
    }

}

div.component_AlertMessage_container {
    width: 100%;
    text-align: center;
}
