div.component_AlertMessage_container {
    width: 100%;
    text-align: center;
}

div.component_AlertMessage {

    display:none;

    margin: 0 10px 45px 10px;
    padding: 12px 16px 12px 16px;
    background-color: gold;
    color: $textcolor-dark;

    border-radius: 5px;

    &.show {
        display: inline-block;
    }

    & a {
        color: $textcolor-dark;
        text-decoration: underline;
    }

    & a:hover {
        text-decoration: none;
    }

}

div.component_AlertMessage_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 400px)
    {
        display: block;
    }
}

    div.component_AlertMessage_label {
        flex: content;

        @media only screen and (max-width: 400px)
        {
            margin-bottom: 15px;
        }
    }


    div.component_AlertMessage_menu {

        flex: content;
        display: none;
        margin-left: 15px;

        &.show {
            display: inline-block;
        }
    }

        div.component_AlertMessage_button {

            display: inline-block;

            background-color: $background-footer;
            color: #ffffff;
            border-radius: 9px;
            padding: 6px 14px 8px 14px;
            font-size: 16px;
            letter-spacing: -0.55px;
            cursor: pointer;
            user-select: none;
            white-space: nowrap;

            &:hover {
                color: gold;
            }
        }
