div.component_AlertMessage {

    display:none;

    margin: 25px 10px 25px 10px;
    padding: 12px 16px 12px 16px;
    background-color: gold;
    color: $textcolor-dark;

    border-radius: 5px;

    &.show {
        display: inline-block;
    }

    & a {
        color: $textcolor-dark;
        text-decoration: underline;
    }

    & a:hover {
        text-decoration: none;
    }

}
